# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Variables de entorno
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Caches de pruebas
.pytest_cache/
.coverage
htmlcov/

# Logs del sistema
*.log
